.standartButton{
    border: none;
    color: var(--color-1);
    font-size: 20px;
    padding: 0px 10px;
    background: var(--background-interactive-1);
    transition: .2s;
}

.standartButton:active{
    background-color: var(--background-interactive-2);
}