.TodolistPageWrapper{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.ListPicker{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-grow: 1;
}

.Lists{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 3;
}

.Calendar{
    padding: 5px;
    border-radius: 15px;
    background-color: var(--background-color-1);
    width: 100%;
    height: 100%;
}

.Notes{
    width: 100%;
    height: 100%;
}

.PostSettings{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 3%;
}

.PostSettings > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-1);
    border-radius: 15px;
    padding: 5px;
    gap: 5px;
}

.TodoPosts{
    width: 100%;
    height: 100%;
}