.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #1d1a42;
    padding: 10px;
    height: 100vh;
    position: fixed;
    width: 300px;
    max-width: 10%;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.menu{
    padding: 5px;
    border-bottom: 1px solid #fff;
}
.linklist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.activeLink{
    text-decoration: none;
    color: rgb(255, 222, 132);
    border: 1px solid #fff;
}

.nonActiveLink{
    text-decoration: none;
    color: #fff;
}

.icons{
    display: flex;
    margin-top: auto;
    padding: 30px;
}

.icon{
    max-width: 35%;
    padding: 3px;
}