.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #545366;
    height: 100vh;
    position: fixed;
    max-width: 10%;
    min-width: 7%;
    border-radius: 0 20px 20px 0;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.menu{
    max-width: 100%;
    padding: 15px;
    border-bottom: 1px solid #fff;
}
.linklist{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.activeLink{
    text-decoration: none;
    color: rgb(255, 222, 132);
    border: 1px solid #fff;
}

.nonActiveLink{
    text-decoration: none;
    color: #fff;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 30px;
}

.icon{
    cursor: pointer;
    width: 80%;
}

@media (min-device-width: 568px) and (max-device-width: 1024px)  {

    .sidebar{
        min-width: 20%;
    }

}
