/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*{
  font-family: 'Poppins', sans-serif;
}

.mainpage{
  margin: auto;
  max-width: 75%;
}

:root{
  transition: .3s;
  color: var(--color-1);
  background-color: var(--background-color);
}

:root[data-theme="dark"]{
  --color-1: #fff;
  --color-2: #818181; 
  --background-color: rgb(33,33,33);
  --background-color-1: rgb(56,56,56);
  --background-color-2: rgb(83, 83, 83);
  --background-color-3: rgb(104, 104, 104);
  --background-interactive-1: rgba(122,23,179,1);
  --background-interactive-2: rgba(148, 34, 214, 1);
  --background-interactive-3: rgb(57, 21, 219, 0.5);
}

:root[data-theme="light"]{
  --color-1: #000;
  --color-2: #3b3e49; 
  --background-color: #fff;
  --background-color-1: #f2f2f2;
  --background-color-2: #e2e0e0;
  --background-color-3: #cacaca;
  --background-interactive-1: rgba(230, 124, 4, 1);
  --background-interactive-2: rgba(216, 79, 0, 1);
  --background-interactive-3: rgba(219, 84, 21, 0.5);
}